/*
 * Copyright 2011 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 * Copyright 2014 Data Modul AG, Silvio Fricke <silvio.fricke@gmail.com>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */
/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "imx6dl.dtsi"

#define NO_PAD_CTRL	(1 << 31)

/ {
	model = "Data Modul AG iMX6-based PPC";
	compatible = "dmo,imx6-ppc", "fsl,imx6dl";

	chosen {
		linux,stdout-path = &uart1;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	regulators {
		compatible = "simple-bus";

		#address-cells = <1>;
		#size-cells = <0>;

		reg_3p3v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "3p3v";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};
};

&iomuxc {
	imx6s-dmp-imx6-ppc {
		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT11__UART1_RX_DATA	0x1b0b0
				MX6QDL_PAD_CSI0_DAT10__UART1_TX_DATA	0x1b0b0
			>;
		};

		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
				MX6QDL_PAD_DISP0_DAT0__ECSPI3_SCLK	0x1b0b0
				MX6QDL_PAD_DISP0_DAT2__ECSPI3_MISO	0x1b0b0
				MX6QDL_PAD_DISP0_DAT1__ECSPI3_MOSI	0x1b0b0
				MX6QDL_PAD_DISP0_DAT3__GPIO4_IO24	NO_PAD_CTRL
			>;
		};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_CMD__SD3_CMD		0x1b0b0
				MX6QDL_PAD_SD3_CLK__SD3_CLK		0x1b0b0
				MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x1b0b0
				MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x1b0b0
				MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x1b0b0
				MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x1b0b0
				MX6QDL_PAD_NANDF_D0__GPIO2_IO00		0x1b0b0 /* CD */
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x1b0b0 /* WP */
			>;
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};
&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;

	vmmc-supply = <&reg_3p3v>;
	cd-gpios = <&gpio2 0 GPIO_ACTIVE_HIGH>;
	wp-gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;

	status = "okay";
};

&ecspi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;

	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;

	status = "okay";

	flash: m25p80@0 {
		compatible = "m25p80";
		spi-max-frequency = <40000000>;
		reg = <0>;

		#address-cells = <1>;
		#size-cells = <1>;
	};
};

